<clr-main-container>
    <clr-header>
        <div class="branding">
            <a class="logo-and-title" [routerLink]="['/simple']">
                <span class="title">TestClarity</span>
            </a>
        </div>
        <div class="divider"></div>
        <div class="header-nav" [clr-nav-level]="1">
            <a class="nav-link" [routerLink]="['/simple']"><span class="nav-text">Simple</span></a>
            <a class="nav-link" [routerLink]="['/sidebar', { outlets: {'sidebar-sub': ['sidebar-sub1'] } }]"><span class="nav-text">Sidebar</span></a>
            <a class="nav-link" [routerLink]="['/subnav', { outlets: {'subnav-sub': ['subnav-simple'] } }]"><span class="nav-text">Subnav</span></a>
        </div>
    </clr-header>
    <router-outlet></router-outlet>
</clr-main-container>
