
.main-container-custom {
    display: flex;
    flex-direction: column;
}

.main-container-custom .content-container-custom, 
.main-container .content-container-custom {
    display: flex;
    flex: 1 1 auto;
    min-height: 1px;
}

.main-container-custom .content-container-custom .content-area-custom, 
.main-container .content-container-custom .content-area-custom {
    flex: 1 1 auto;
    overflow-y: scroll;
    padding: 24px 24px 24px 24px;
}
    
.main-container-custom .content-container-custom .content-area-custom>:first-child, 
.main-container .content-container-custom .content-area-custom>:first-child {
    margin-top:0;
}

.main-container-custom .content-container-custom .sidenav,
.main-container .content-container-custom .sidenav {
    flex: 0 0 auto;
    order: -1;
    overflow: hidden;
}